$danger-color: #a94442;

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5rem;

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .item {
    flex: 1 1 calc(100% / 4 - 0.75rem * 2 - 0.5rem * 2);
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .sold-out {
    color: $danger-color;
    display: inline;
  }

  .food-choice-form {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
