<div class="food-choice flex flex-col p-2 box-border-indigo">
  <app-food-choice-description [choice]="choice" [remained]="remained"></app-food-choice-description>
  <div>
    <ng-container *ngTemplateOutlet="remained > 0 ? order : soldout; context: { choice: choice }"></ng-container>
  </div>
  <ng-template #order let-choice="choice">
    <div class="flex">
      <app-food-choice-form class="mx-3 inline grow" [choice]="choice" (foodChoiceSubmitted)="submitFoodChoice($event)">
      </app-food-choice-form>
      <div class="flex items-center grow" #lowSupplyRef>
        <ng-container #viewContainerRef></ng-container>
      </div>
    </div>
  </ng-template>
  <ng-template #soldout let-choice="choice">
    <span class="item text-[#a94442] inline">Sorry, {{ choice.name }} is sold out</span>
  </ng-template>
</div>
