<div class="container">
  <label name="name" class="item">
    <span class="field">Name:</span>
    <span class="field-text">{{ choice.name }}</span>
  </label>
  <label name="description" class="item">
    <span class="field">Description:</span>
    <span class="field-text">{{ choice.description }}</span>
  </label>
  <label name="price" class="item">
    <span class="field">Price:</span>
    <span class="field-text">{{ choice.currency }} {{ choice.price }}</span>
  </label>
  <ng-container [ngSwitch]="choice.available">
    <app-food-choice-form
      class="food-choice-form"
      (foodChoiceSubmitted)="submitFoodChoice($event)"
      *ngSwitchCase="true"
    >
    </app-food-choice-form>
    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="soldout; context: { choice: choice }"> </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #soldout let-choice="choice">
    <span class="item sold-out">Sorry, {{ choice.name }} is sold out</span>
  </ng-template>
</div>
