$danger-color: #a94442;

:host {
  display: block;
}

.container {
  padding: 0.5rem 0;

  .ng-invalid:not(form) {
    border-left: 5px solid $danger-color;
  }

  .alert {
    display: inline;
    &-danger {
      color: $danger-color;
      .error {
        display: inline;
      }
    }
  }

  .processing {
    color: $danger-color;
    display: inline;
    margin-right: 0.5rem;
  }

  .item .spacer {
    margin-right: 0.5rem;
  }
}
