<form class="py-2 px-0" [formGroup]="form" (ngSubmit)="submitChoice$.next($event)">
  <label name="quantity" class="item">
    <span class="field">Quantity: </span>
    <input type="number" formControlName="quantity" class="mr-2" [readonly]="quantityRemained <= 0" />
  </label>
  <div *ngIf="quantity && quantity.invalid && (quantity.touched || quantity.dirty)" class="inline text-[#a94442]">
    <div *ngIf="quantity.errors?.min" class="inline mr-2">
      Quantity must be at least {{ quantity.errors?.min?.min }}.
    </div>
    <div *ngIf="quantity.errors?.notEnoughQuantity" class="inline mr-2">
      Cannot order more than {{ quantity.errors?.notEnoughQuantity.quantityRemained }}.
    </div>
  </div>
  <div *ngIf="processing" class="inline">
    <div class="inline mr-2 text-[#a94442]">Loading...</div>
  </div>
  <button
    type="submit"
    [disabled]="processing || form.invalid || quantityRemained <= 0"
    class="btn-indigo disabled:opacity-75"
  >
    Submit
  </button>
</form>
