/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$label-color: #585656;

label.item {
  font-size: 1rem;
  .field {
    color: $label-color;
    margin-right: 0.5rem;
  }
}
