/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$label-color: #585656;

label.item {
  font-size: 1rem;
  .field {
    color: $label-color;
    margin-right: 0.5rem;
  }
}

.btn-indigo {
  @apply rounded-md p-2 bg-indigo-500 hover:bg-indigo-400 text-white;
}

.box-border-indigo {
  @apply border-2 border-indigo-400;
}
